:root {
  --dark: #2e2f42;
  --text: #434455;
  --primary-brand: #4d5ae5;
  --link-active: #404bbf;
  --white: #fff;
  --light: #f4f4fd;
  --cornflower: #e7e9fc;
  --button-shadow: rgba(0, 0, 0, 0.15);
  --portfolio-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  --success: #31d0aa;
  --light-slate: #8e8f99;
  --dairy: #fcfcfc;
  --navyblue-modal: rgba(46, 47, 66, 0.4);
  --standard-animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--text);
  background-color: #ffffff;
  font-size: 16px;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding-left: 0px;
}

a {
  text-decoration: none;
}

.container {
  max-width: 428px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1158px;
  }
}

.section {
  padding-top: 96px;
  padding-bottom: 96px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: 1px;
  border: 0px;
  padding: 0px;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.logo {
  color: var(--dark);
  text-decoration: none;
  font-family: "Raleway";
  font-size: 18px;
  font-weight: 800;
  line-height: 1.16;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  margin-right: 76px;
  padding-top: 25.5px;
  padding-bottom: 25.5px;
}

.logo-accent {
  color: var(--primary-brand);
}

.menu-toggle {
  display: flex;
  margin-right: 8px;
  background: none;
}

@media screen and (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.hamburger-icon {
  max-width: 32px;
  max-height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  stroke: var(--dark);
  stroke-width: 2px;
}

.top-menu {
  display: flex;
  gap: 40px;
  list-style-type: none;
  padding: 24px 0;
  margin: 0;
}

@media screen and (max-width: 767px) {
  .top-menu {
    display: none;
  }
}

.nav-link {
  color: var(--dark);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
  transition: color var(--standard-animation);
}

.link:hover,
.link:focus {
  color: var(--link-active);
}
.current-link {
  position: relative;
}
.current-link::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  bottom: -27.5px;
  height: 4px;
  border-radius: 2px;
  background-color: var(--link-active);
}

.contacts {
  display: flex;
  gap: 40px;
}

@media screen and (max-width: 767px) {
  .contacts {
    display: none;
  }
}

.contact-link {
  font-style: normal;
  color: var(--text);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
  transition: color var(--standard-animation);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacts {
    flex-direction: column;
    gap: 12px;
  }
  .contact-link {
    font-style: normal;
    color: var(--text);
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.48px;
  }
}

/* menu mobile */

.menu-toggle {
  min-height: 24px;
  min-width: 24px;
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}

@media screen and (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.menu-toggle:hover,
.menu-toggle:focus {
  background-color: rgba(0, 0, 0, 0.1);
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding-left: 40px;
  background-color: var(--white);
  z-index: 999;
  visibility: hidden;
  transform: translateX(100%);
  transition: transform 250ms var(--standard-animation);
}

.menu-container.is-open {
  transform: translateX(0);
  visibility: visible;
}

.menu-container .menu-toggle {
  position: absolute;
  top: 24px;
  right: 24px;
  color: #fff;
  background-color: var(--cornflower);

  fill: var(--dark);
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.mobile-menu-wrapper {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}

.mobile-menu {
  padding: 0;
  margin-top: 80px;
  list-style: none;
}

.mobile-menu .link {
  display: block;
  text-decoration: none;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.111;
  letter-spacing: 0.72px;
  color: var(--dark);
  margin-bottom: 40px;
}

.mobile-menu .mobile-active {
  color: var(--link-active);
}

.mobile-tel {
  display: block;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.111;
  letter-spacing: 0.72px;
  color: var(--primary-brand);
  margin-bottom: 40px;
}

.mobile-mail {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
  color: var(--text);
}

.mobile-social-icons {
  display: flex;
  max-width: 328px;
  margin-top: 48px;
  margin-bottom: 40px;
  justify-content: space-between;
}

.social-icon-mobile {
  display: flex;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-brand);
  transition: background-color var(--standard-animation);
}

/* menu mobilne end */

.hero-image {
  background: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url(../images/heroimage2x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 428px;
  max-height: 432px;
  padding-top: 112px;
  padding-bottom: 112px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

@media screen and (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero-image {
    background: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url(../images/heroimage2x.jpg);
    background-size: cover;
  }
}

@media screen and (min-width: 768px) {
  .hero-image {
    padding-bottom: 112px;
    padding-top: 112px;
    max-width: 768px;
    max-height: 436px;
  }
}
@media screen and (min-width: 1200px) {
  .hero-image {
    padding-bottom: 188px;
    padding-top: 188px;
    max-width: 1440px;
    max-height: 600px;
  }
}

.title {
  color: var(--white);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  margin: auto;
  margin-bottom: 72px;
  max-width: 320px;
}

@media screen and (min-width: 768px) {
  .title {
    font-size: 56px;
    letter-spacing: 1.12px;
    max-width: 496px;
    line-height: 1.07;
    margin-bottom: 36px;
  }
}

@media screen and (min-width: 1200px) {
  .title {
    font-size: 56px;
    letter-spacing: 1.12px;
    max-width: 496px;
    line-height: 1.07;
    margin-bottom: 48px;
  }
}

.hero-button {
  cursor: pointer;
  background: var(--primary-brand);
  color: var(--white);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  font-style: "inherit";
  padding: 16px 32px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px var(--button-shadow);
  border: none;
  transition: background-color var(--standard-animation);
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--link-active);
}
.feature-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

.feature {
  text-align: center;
  color: var(--dark);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  margin-bottom: 8px;
  margin-top: 8px;
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .feature-list li {
    max-width: 356px;
  }
  .feature-list {
    row-gap: 72px;
    column-gap: 24px;
  }
  .feature {
    text-align: left;
  }
}

@media screen and (min-width: 1200px) {
  .feature {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
  }
  .feature-list {
    gap: 24px;
  }
  .feature-list li {
    max-width: 264px;
  }
  .feature {
    text-align: left;
  }
}

.feature-description {
  line-height: 1.5;
  letter-spacing: 0.32px;
  font-weight: 500;
  margin: 0px;
}

@media screen and (min-width: 1200px) {
  .feature-description {
    font-weight: 400;
  }
}

.work {
  padding-top: 0px;
  padding-bottom: 100px;
}

@media screen and (max-width: 1199px) {
  .work {
    display: none;
  }
}

.section-header {
  color: var(--dark);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.spec-list {
  display: flex;
  gap: 24px;
  justify-content: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.team-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 72px;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 768px) {
  .team-list {
    row-gap: 64px;
  }
}
.team-box {
  background: var(--light);
}

.worker-name {
  color: var(--dark);
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
  padding: 0px;
  margin-bottom: 8px;
}
.worker-description {
  text-align: center;
  line-height: 1.5;
  letter-spacing: 0.32px;
  margin: 0;
}

.worker-card {
  padding: 32px 0px;
}

.footer-bg {
  background: var(--dark);
  padding: 100px 0px;
}

.footer-logo {
  text-align: center;
  color: var(--dark);
  text-decoration: none;
  font-family: "Raleway";
  font-size: 18px;
  font-weight: 800;
  line-height: 1.16;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  margin-bottom: 16px;
  display: block;
}

@media screen and (min-width: 768px) {
  .footer-logo {
    text-align: left;
  }
}

.logo-accent-white {
  color: var(--light);
}
.footer-slogan {
  color: var(--light);
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.32px;
  width: 264px;
  margin-top: 17.5px;
}

.section-projects {
  padding-top: 96px;
  padding-bottom: 120px;
}

.filters {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
  list-style-type: none;
  margin-bottom: 72px;
}
.filter-button {
  color: var(--primary-brand);
  background: var(--light);
  text-align: center;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  font-style: "inherit";
  cursor: pointer;
  padding: 12px 24px;
  border-radius: 4px;
  border: 1px solid var(--cornflower);
  transition: background-color var(--standard-animation),
    color var(--standard-animation), box-shadow var(--standard-animation),
    border var(--standard-animation);
}
.filter-button:hover,
.filter-button:focus {
  background-color: var(--link-active);
  color: var(--light);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
  border: 1px solid var(--link-active);
}

.projects-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
  margin: 0;
  padding: 0;
}

.project-card {
  display: block;
  transition: box-shadow var(--standard-animation);
}
.project-card:focus,
.project-card:hover {
  box-shadow: var(--portfolio-shadow);
}

.project-card:focus .project-overlay,
.project-card:hover .project-overlay {
  transform: translateY(0);
}

.project-image {
  position: relative;
  overflow: hidden;
}
.project-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 40px;
  padding-left: 32px;
  padding-right: 32px;
  background-color: var(--primary-brand);
  color: var(--light);
  line-height: 1.5;
  letter-spacing: 0.32px;
  transform: translateY(100%);
  transition: transform var(--standard-animation);
}

.project-name {
  color: var(--dark);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
  margin-top: 0;
  margin-bottom: 8px;
}
.project-type {
  line-height: 1.5;
  letter-spacing: 0.32px;
  margin: 0;
}

.top-line {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.navigation {
  display: flex;
  align-items: center;
  margin-right: auto;
  gap: 80px;
}

.header-line {
  border-bottom: 1px solid var(--cornflower);
}
.team-list > li {
  background-color: var(--white);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

.projects-list > li {
  flex-basis: calc((100% - 48px) / 3);
}

.card-description {
  background-color: var(--white);
  border-color: var(--cornflower);
  border-style: solid;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-width: 0;
  padding: 32px 16px;
}

.feature-icon {
  background-color: var(--light);
  width: 100%;
  border-radius: 4px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 1199px) {
  .feature-icon {
    display: none;
  }
}

.team-social-icons {
  display: flex;
  gap: 24px;
  margin-top: 8px;
  justify-content: center;
}

.customers {
  display: flex;
  flex-wrap: wrap;
  row-gap: 72px;
  column-gap: 16px;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .customers {
    column-gap: 24px;
  }
}
.customer-icon {
  border: 1px solid var(--light-slate);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 168px;
  height: 88px;
  fill: var(--light-slate);
  transition: border-color var(--standard-animation),
    fill var(--standard-animation);
}

.customer-icon:hover,
.customer-icon:focus {
  border-color: var(--link-active);
  fill: var(--link-active);
}

.footer-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 72px;
  column-gap: 24px;
}

@media screen and (min-width: 1200px) {
  .footer-wrapper {
    column-gap: 80px;
  }
}

.footer-title {
  color: var(--white);
  font-weight: 500;
  text-align: center;
  display: block;
  margin-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .footer-title {
    text-align: left;
  }
}

.footer-social-icons {
  display: flex;
  gap: 16px;
  margin-top: 16px;
  justify-content: center;
}

@media screen and (min-width: 1200px) {
  .footer-social {
    margin-left: 40px;
  }
}
.social-icon {
  display: flex;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-brand);
  transition: background-color var(--standard-animation);
}

.social-icon:hover,
.social-icon:focus {
  background-color: var(--link-active);
}

.social-icon-footer {
  display: flex;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-brand);
  transition: background-color var(--standard-animation);
}

.social-icon-footer:hover,
.social-icon-footer:focus {
  background-color: var(--success);
}

.modal {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  background-color: hsla(237, 18%, 22%, 0.4);
  opacity: 100%;
  transition: opacity var(--standard-animation);
}

.is-hidden {
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
}

.modal-body {
  position: relative;
  margin-top: 80px;
  width: 392px;
  height: 584px;
  border-radius: 4px;
  background-color: var(--dairy);
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
  scale: 1;
  transition: scale var(--standard-animation);
  padding-right: 24px;
  padding-left: 24px;
}

@media screen and (min-width: 768px) {
  .modal-body {
    width: 408px;
  }
}

.modal-close-button {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--cornflower);
  border-radius: 50%;
  width: 24px;
  height: 24px;
  fill: var(--dark);
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: background-color var(--standard-animation),
    border var(--standard-animation), fill var(--standard-animation);
}

.modal-close-button:hover,
.modal-close-button:focus {
  background-color: var(--link-active);
  fill: var(--white);
  border: 1px solid var(--link-active);
}

.is-hidden .modal-body {
  scale: 0;
}

.modal:not(.is-hidden) .modal-body {
  scale: 1;
}

.modal-body > h3 {
  text-align: center;
  margin-top: 72px;
  margin-bottom: 16px;
  color: var(--navyblue, #2e2f42);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

.modal-inputs-wrapper {
  display: flex;
  flex-direction: column;
  align-items: left;
}

.input-label {
  color: var(--lightslate, #8e8f99);
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.48px;
}

.input-wrapper input {
  border-radius: 4px;
  border: 1px solid var(--navyblue-modal);
  background-color: transparent;
  padding-block: 8px;
  padding-inline-start: 38px;
  width: 100%;
  height: 40px;
  transition: border-color var(--standard-animation);
}

.input-wrapper ::placeholder {
  color: var(--navyblue-modal);
}

.tc-accept-wrapper {
  margin-top: 8px;
}

.tc-accept-wrapper label {
  display: flex;
  align-items: center;
}

.input-wrapper {
  position: relative;
  width: 100%;
  margin-bottom: 4px;
  margin-top: 4px;
}

.input-wrapper textarea {
  border-radius: 4px;
  border: 1px solid var(--navyblue-modal);
  background-color: transparent;
  resize: none;
  height: 120px;
  padding-block: 8px;
  padding-inline-start: 16px;
  font-size: 12px;
  line-height: 1.16; /* 116.667% */
  letter-spacing: 0.48px;
  width: 100%;
  transition: border-color var(--standard-animation);
}

.modal-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  translate: 0 -50% 0;
  fill: var(--dark);
  height: 24px;
  transition: fill var(--standard-animation);
}

input[type="checkbox"] {
  appearance: none;
}

.checkbox-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  fill: none;
  border-radius: 4px;
  border: 1px solid var(--navyblue-modal);
  margin-right: 8px;
  transition: background-color var(--standard-animation);
}
.checkbox:checked ~ .checkbox-icon {
  fill: var(--white);
  background-color: var(--link-active);
}

.send-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 24px;
  margin-bottom: 24px;
}

.send-button {
  text-align: center;
  width: 169px;
  height: 56px;
  background: var(--primary-brand);
  color: var(--white);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  font-style: "inherit";
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px var(--button-shadow);
  border: none;
  transition: background-color var(--standard-animation);
}

.send-button:hover,
.send-button:focus {
  background-color: var(--link-active);
}

.input-wrapper:focus-within .modal-icon {
  fill: var(--link-active);
}
.input-wrapper input:focus {
  outline: none;
  border: 1px solid var(--link-active);
}

.input-wrapper textarea:focus {
  outline: none;
  border: 1px solid var(--link-active);
}

.tc-accept-wrapper a {
  text-decoration: underline;
  transition: color var(--standard-animation);
}

.subscribe-wrapper {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .subscribe-wrapper {
    display: flex;
    gap: 24px;
    width: auto;
  }
}

@media screen and (min-width: 768px) {
}

.subscribe-email {
  width: 100%;
  height: 40px;
  background-color: inherit;
  border-radius: 4px;
  border: 1px solid var(--white);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  color: var(--white);
}

@media screen and (min-width: 768px) {
  .subscribe-email {
    width: 264px;
  }
}

.subscribe-email::placeholder {
  color: var(--white);
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.48px;
}
.subscribe-field-wrapper input:focus {
  outline: none;
}

.subscribe-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  width: 165px;
  height: 40px;
  background: var(--primary-brand);
  color: var(--white);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  font-style: "inherit";
  border-radius: 4px;
  border: none;
  margin-top: 16px;
  margin-right: auto;
  margin-left: auto;
  transition: background-color var(--standard-animation);
}

@media screen and (min-width: 768px) {
  .subscribe-button {
    margin-top: 34px;
    margin-right: 40px;
  }
}

@media screen and (min-width: 1200px) {
  .subscribe-button {
    margin-top: 34px;
    margin-right: 0px;
  }
}

.subscribe-button:hover,
.subscribe-button:focus {
  background-color: var(--link-active);
}
.send-icon {
  display: flex;
  width: 24px;
  align-items: center;
  justify-content: center;
}