body {
  font-family: "Roboto", sans-serif;
  color: var(--text);
  background-color: #ffffff;
  font-size: 16px;
  font-weight: 400;
}

:root {
  --dark: #2e2f42;
  --text: #434455;
  --primary-brand: #4d5ae5;
  --link-active: #404bbf;
  --white: #fff;
  --light: #f4f4fd;
  --cornflower: #e7e9fc;
  --button-shadow: rgba(0, 0, 0, 0.15);
  --portfolio-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  --success: #31d0aa;
  --light-slate: #8e8f99;
  --dairy: #fcfcfc;
  --navyblue-modal:rgba(46, 47, 66, 0.4);
  --standard-animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p{
  margin: 0;
}

button{
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

ul,
ol{
  list-style: none;
  margin: 0;
  padding-left: 0;
}

a{
  text-decoration: none;
  /*color: inherit; */
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


.logo {
  color: var(--dark);
  text-decoration: none;
  font-family: "Raleway";
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  padding-top: 25.5px;
  padding-bottom: 25.5px;
}

.logo-accent {
  color: var(--primary-brand);
}

.top-menu {
  display: flex;
  gap: 40px;
  list-style-type: none;
  padding: 24px 0;
  margin: 0;
  margin-left: 76px;
}

.nav-link{
  color: var(--dark);
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.32px;
  transition: color var(--standard-animation);
}

.link:hover,
.link:focus {
  color: var(--link-active);
}

.contacts {
  display: flex;
  gap: 40px;
  list-style-type: none;
  padding-left: 0;
  padding-top: 24px;
  padding-bottom: 24px;
  margin: 0;
}

.contact-link {
  font-style: normal;
  color: var(--text);
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.32px;
  transition: color var(--standard-animation);
}

.hero-image {
  background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),    url('../images/people-office-1.jpg');
  background-size: cover;
  background-repeat: no-repeat; 
  padding-bottom: 188px;
  padding-top: 188px;
  text-align: center;
  max-width: 1400px;
  height: 600px;
  margin: 0 auto;
}

.title {
  color: var(--white);
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 107.143%;
  letter-spacing: 1.12px;
  margin: 0 auto;
  margin-bottom: 48px;
  width: 496px;
}

.hero-button {
  cursor: pointer;
  background: var(--primary-brand);
  color: var(--white);
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.64px;
  font-style: "inherit";
  padding: 16px 32px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px var(--button-shadow);
  border: none;
  transition: color var(--standard-animation);
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--link-active);
}

.feature-list {
  display: flex;
  gap: 24px;
  list-style-type: none;
  margin: 0px;
  padding: 0px
}

.feature {
  color: var(--dark);
  font-size: 20px;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 0.4px;
  margin-bottom: 8px;
  margin-top: 0px;
}

.feature-description {
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.32px;
  margin: 0px;
}

.spec-header {
  color: var(--dark);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 111.111%;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  margin: 0px;
  margin-bottom: 72px;
}

.team-header {
  color: var(--dark);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 111.111%;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.header {
  color: var(--dark);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 111.111%;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  padding-top: 0px;
  padding: 24px 0;
}
.spec-list {
  display: flex;
  gap: 24px;
  justify-content: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.team-list {
  display: flex;
  gap: 24px;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.team-box {
  background: var(--light);
  padding: 120px 0;
}

.team-social-icons{
  display: flex;
  gap: 24px;
  margin-top: 8px;
  justify-content: center;
}

.icons-wrapper{
background:#4D5AE5;
border-radius: 50%;
display: flex;
justify-content: center;
align-items: center;
width: 40px;
height: 40px;
fill: var(--light);

}


.worker-name {
  color: var(--dark);
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 0.4px;
  padding: 0px;
  margin: 0;
  margin-bottom: 8px;
  
}

.work-name1{
  padding-top: 32px;
  padding-bottom: 32px;
}

.worker-description {
  text-align: center;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.32px;
  margin: 0;
}
.footer-bg {
  background: var(--dark);
  padding: 100px 0;
}

.footer-title {
  color: var(--white);
  font-weight: 500;
}

.logo-accent-white {
  color: var(--light);
}
.footer-slogan {
  color: var(--light);
  font-style: normal;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.32px;
  width: 264px;
  margin: 0%;
  margin-top: 16px;
}

.footer-logo{
  color: var(--dark);
  text-decoration: none;
  font-family: "Raleway";
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;

}

.filters {
  display: flex;
  justify-content: center;
  gap: 24px;
  list-style-type: none;
  margin-bottom: 72px;
  padding-left: 0px;
  
}

.filter-button {
  color: var(--primary-brand);
  background: var(--light);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.64px;
  font-style: "inherit";
  cursor: pointer;
  padding: 12px 24px;
  border-radius: 4px;
  border: 1px solid var(--cornflower);
  transition: background-color var(--standard-animation),
    color var(--standard-animation), box-shadow var(--standard-animation),
    border var(--standard-animation);
}
.filter-button:hover,
.filter-button:focus {
  background-color: var(--link-active);
  color: var(--light);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
  border: 1px solid var(--link-active);
}

.projects-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
  margin: 0;
  padding: 0;
}

.projects-list li:hover {

box-shadow: var(--portfolio-shadow);
cursor: pointer;

}
.project-name {
  color: var(--dark);
  font-size: 20px;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 0.4px;
  margin-top: 0;
  margin-bottom: 8px;
}
.project-type {
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.32px;
  margin: 0;
}

.container {
  width: 1158px;
  padding: 0px 15px;
  margin: 0 auto;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.section-header{
  color:var(--dark);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.doing-section{
  padding-top: 0;
  padding-bottom: 120px;
}


.top-line {
  display: flex;
  align-items: center;
}

.navigation {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.header-line {
  border-bottom: 1px solid var(--cornflower);
}
.team-list > li {
  background-color: var(--white);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

.projects-list > li {
  flex-basis: calc((100% - 48px) / 3);
}

.card-description {
  background-color: var(--white);
  border-color: var(--cornflower);
  border-style: solid;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-width: 0;
  padding: 32px 16px;
}

.projects-list img {
  display: block;
}
.team-list img {
  display: block;
}

img{
  display: block;
  max-width:100%;
  height: auto;
}

.feature-icon{
  box-sizing: content-box;
  background-color: var(--light);
  width: 100%;
  border-radius: 4px;
  padding-top: 24px;
  padding-bottom: 24px;

}

.customers {
  display: flex;
  gap: 24px;
  justify-content: center;
}



.footer-wrapper{
  display: flex;
}

.footer-social-title{
  color:var(--white);
  font-weight: 500;
}

.footer-social-icons{
  display: flex;
  gap: 16px;


}

.footer-social-icons li {
  display: flex;
  margin-top: 16px;
  justify-content: center;
  background:#4D5AE5;
  width: 40px;
height: 40px;
gap: 24px;
border-radius: 50%;
align-items: center;
  
}

.footer-social-icons :is(:hover, :focus){
  background-color: var(--success);
  cursor: pointer;
}

.footer-social{
margin-left: 120px;
}

.footer-social-icons svg:hover{

  cursor: pointer;

}

.portfolio-section{
  padding-top: 96px;
  padding-bottom: 120px;
}

.customer-icon{ 
  fill: #8E8F99;
  width: 168px;
  height: 88px;
  flex-shrink: 0;
  border: 1px solid #8E8F99;
  border-radius: 4px;
  padding:16px 32px;
  transition: border-color var(--standard-animation),

}

.customer-icon:hover {
border-color: var(--link-active);
fill: var(--link-active);
cursor: pointer;
}




.social-icon {
  display: flex;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-brand);
  fill: white;
  transition: border-color var(--standard-animation),
}

.social-icon:hover,
.social-icon:focus {
  background-color: var(--link-active);
}

.social-icon-footer {
  display: flex;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-brand);
  fill: white;
  transition: border-color var(--standard-animation),
}

.social-icon-footer:hover,
.social-icon-footer:focus {
  background-color: var(--success);
}

.project-card:focus .project-overlay,
.project-card:hover .project-overlay {
  transform: translateY(0);
}

.project-image {
  position: relative;
  overflow: hidden;
}
.project-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 40px;
  padding-left: 32px;
  padding-right: 32px;
  background-color: var(--primary-brand);
  color: var(--light);
  line-height: 1.5;
  letter-spacing: 0.32px;
  transform: translateY(100%);
  transition: transform var(--standard-animation);
}

.project-card {
  display: block;
  transition: box-shadow var(--standard-animation);
}
.project-card:focus,
.project-card:hover {
  box-shadow: var(--portfolio-shadow);
}

.project-card:focus .project-overlay,
.project-card:hover .project-overlay {
  transform: translateY(0);
}

.project-image {
  position: relative;
  overflow: hidden;
}

.modal {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  background-color: hsla(237, 18%, 22%, 0.4);
  opacity: 100%;
  transition: opacity var(--standard-animation);
}

.modal-body {
  position: relative;
  margin-top: 80px;
  width: 408px;
  height: 584px;
  border-radius: 4px;
  background-color: var(--dairy);
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
  scale: 1;
  transition: scale var(--standard-animation);
  padding-right: 24px;
  padding-left: 24px;
}

.modal-body > h3 {
  text-align: center;
  margin-top: 72px;
  margin-bottom: 16px;
  color: var(--navyblue, #2e2f42);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

.is-hidden {
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
}

.modal-body {
  position: relative;
  margin-top: 80px;
  width: 408px;
  height: 584px;
  border-radius: 4px;
  background-color: var(--dairy);
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
  scale: 1;
  transition: scale var(--standard-animation);
}

.modal-close-button {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--cornflower);
  border-radius: 50%;
  width: 24px;
  height: 24px;
  fill: var(--dark);
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: background-color var(--standard-animation),
    border var(--standard-animation), fill var(--standard-animation);
}

.modal-close-button:hover,
.modal-close-button:focus {
  background-color: var(--link-active);
  fill: var(--white);
  border: 1px solid var(--link-active);
}


.is-hidden .modal-body {
  scale: 0;
}

.modal:not(.is-hidden) .modal-body {
  scale: 1;
}

.current-link {
  position: relative;
}
.current-link::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  bottom: -27.5px;
  height: 4px;
  border-radius: 2px;
  background-color: var(--link-active);
}

.current-link {
  position: relative;
}
.current-link::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  bottom: -27.5px;
  height: 4px;
  border-radius: 2px;
  background-color: var(--link-active);
}

.subscribe-wrapper {
  margin-left: auto;
}

.subscribe-email {
  width: 264px;
  height: 40px;
  background-color: inherit;
  border-radius: 4px;
  border: 1px solid var(--white);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  color: var(--white);
}

.subscribe-email::placeholder {
  color: var(--white);
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.48px;
}
.subscribe-field-wrapper input:focus {
  outline: none;
}
.subscribe-field-wrapper {
  display: flex;
  align-items: center;
  margin-top: 16px;
}

.subscribe-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  width: 165px;
  height: 40px;
  background: var(--primary-brand);
  color: var(--white);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  font-style: "inherit";
  border-radius: 4px;
  border: none;
  margin-left: 20px;
  margin-right: 0px;
  transition: background-color var(--standard-animation);
}

.subscribe-button:hover,
.subscribe-button:focus {
  background-color: var(--link-active);
}
.send-icon {
  display: flex;
  width: 24px;
  align-items: center;
  justify-content: center;
}



.subscribe-svg {
  height: 24px;
  width: 24px;
}

.modal-inputs-wrapper {
  display: flex;
  flex-direction: column;
  align-items: left;
}

.input-label {
  color: var(--lightslate, #8e8f99);
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.48px;
}

.input-wrapper input {
  border-radius: 4px;
  border: 1px solid var(--navyblue-modal);
  background-color: transparent;
  padding-block: 8px;
  padding-inline-start: 38px;
  width: 100%;
  height: 40px;
  transition: border-color var(--standard-animation);
}

.input-wrapper ::placeholder {
  color: var(--navyblue-modal);
}

.tc-accept-wrapper {
  margin-top: 8px;
}

.tc-accept-wrapper label {
  display: flex;
  align-items: center;
}

.input-wrapper {
  position: relative;
  width: 100%;
  margin-bottom: 4px;
  margin-top: 4px;
}

.input-wrapper textarea {
  border-radius: 4px;
  border: 1px solid var(--navyblue-modal);
  background-color: transparent;
  resize: none;
  height: 120px;
  padding-block: 8px;
  padding-inline-start: 16px;
  font-size: 12px;
  line-height: 1.16; /* 116.667% */
  letter-spacing: 0.48px;
  width: 100%;
  transition: border-color var(--standard-animation);
}

.modal-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  translate: 0 -50% 0;
  fill: var(--dark);
  height: 24px;
  transition: fill var(--standard-animation);
}

input[type="checkbox"] {
  appearance: none;
}

.checkbox-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  fill: none;
  border-radius: 4px;
  border: 1px solid var(--navyblue-modal);
  margin-right: 8px;
  transition: background-color var(--standard-animation);
}
.checkbox:checked ~ .checkbox-icon {
  fill: var(--white);
  background-color: var(--link-active);
}

.send-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 24px;
  margin-bottom: 24px;
}

.send-button {
  text-align: center;
  width: 169px;
  height: 56px;
  background: var(--primary-brand);
  color: var(--white);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  font-style: "inherit";
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px var(--button-shadow);
  border: none;
  transition: background-color var(--standard-animation);
}

.send-button:hover,
.send-button:focus {
  background-color: var(--link-active);
}

.input-wrapper:focus-within .modal-icon {
  fill: var(--link-active);
}
.input-wrapper input:focus {
  outline: none;
  border: 1px solid var(--link-active);
}

.input-wrapper textarea:focus {
  outline: none;
  border: 1px solid var(--link-active);
}

.tc-accept-wrapper a {
  text-decoration: underline;
  transition: color var(--standard-animation);
}